<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bob Report - Header</title>
  <%= asset_tags %>
</head>
<body>
  <div id="header">
    <span id="web-client-url"><%= web_client_url %></span>
    <span id="date"><%= Time.now %></span>
  </div>
</body>
</html>