<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bob Report - Intro</title>
  <%= asset_tags %>
</head>
<body>
  <div id="intro">
    Please click on an item to the left to view the results.
  </div>
</body>
</html>