code {
  color: #666666;
  padding: 2px;
}

.skipped,
span.skipped a,
.pending,
span.pending a {
  color: #336699;
}

.undefined,
span.undefined a {
  color: #666666;
}

.passed,
span.passed a {
  color: #339966;
}

.failed,
span.failed a {
  color: #993333;
}

/************************
        INTRO
************************/

#intro .bob {
  border-radius: 7px;
  float: left;
  margin: 5px;
}

#intro .content {
  margin-left: 210px;
  margin-right: 15px;
}

#intro .content ul {
  margin-left: 30px;
}

/************************
        HEADER
************************/

#header {
  line-height: 30pt;
  padding-left: 10px;
  padding-right: 10px;
}

#web-client-url {
  font-size: 17pt;
}

#date {
  float: right;
}


/************************
          TOC
************************/

#toc > ul {
  list-style: none;
  margin-left: 5px;
}

#toc > ul ul li {
  line-height: 175%;
}

/************************
         FEATURE
************************/

#feature {
  font-size: 14px;
  margin: 5px;
}

#feature-name {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}

#feature .description,
#feature .elements {
  margin-top: 10px;
}

#feature .element .header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}

#feature .element .description {
  font-weight: normal;
}

#feature .element .header .name {
  font-weight: normal;
}

#feature .element .examples {
  margin-left: 10px;
  margin-top: 20px;
}

#feature li.step {
  line-height: 150%;
  list-style: none;
  margin-left: -15px;
}