h2 {
  margin-top: 15px;
  border-bottom: 1px solid #CCCCCC;
}

#legend > h2 {
  border-bottom: 0px;
}

.label, .label:hover {
}

.flags {
  float: right;
}

li {
  margin: 2px;
}

li.feature {
  border-radius: 4px;
  padding: 3px;
}

li.feature:hover {
  background-color: whiteSmoke;
}

div.feature {
  margin-left: 20px;
  margin-bottom: 20px;
}

.feature > .name {
  border-radius: 4px;
  font-weight: bold;
  margin-right: 5px;
  padding: 3px;
}

.feature > .description {
  padding: 3px;
}

.feature > .name:hover {
  background-color: whiteSmoke;
}

.feature .elements {
  padding: 3px;
}

.feature .element {
  margin-bottom: 10px;
}

.feature .element .header .type {
  font-weight: bold;
}

li.step {
  border-radius: 4px;
  padding: 3px;
}

li.step:hover {
  background-color: whiteSmoke;
}

li.step.outline:hover {
  background-color: transparent;
}

li.step table {
  margin-top: 3px;
  margin-bottom: 0px;
}

.element .examples {
  margin-left: 13px;
}

.feature .element .examples .header .type {
  font-weight: normal;
  text-decoration: underline;
}



/* the overlayed element */
.simple_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color:#333;

    width:675px;
    min-height:200px;
    border:1px solid #666;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(../img/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}