body,
p {
  font-size: 12pt;
  line-height: 16pt;
}

code,
pre {
  font-size: 11pt;
}

.feature {
  border-bottom: 1px #000 solid;
  padding-bottom: 24pt;
  margin-top: 24pt;
}

.feature:last-child {
  border-bottom: none;
}

.feature-name {
  font-weight: normal;
}

.feature>h2>.label{
  padding-left: 10px;
  padding-right: 10px;
}

.step {
/*  margin-bottom: 6pt;*/
}

li.step > div {
  padding: 5px;
  border-radius: 4px;
}

li.step > div:hover,
.toc-item:hover {
  background-color: whiteSmoke;
}

.scenario {
  margin-top: 36pt;
}

.background ol,
.scenario ol,
.examples {
  margin-top: 12pt;
  margin-left: 50px;
}

table.table {
  margin-top: 12pt;
}

.keyword {
  font-weight: bold;
}

.label {
  float: right;
  padding: 0px 4px 0px 4px;
}

#status-labels {
  display: none;
}

#toc {
  margin-left: 24pt;
  margin-bottom: 24pt;
}

.toc-item {
  border-radius: 4px;
  padding: 5px;
  width: 100mm;
}

#legend {
  margin-bottom: 24pt;
}